<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <div class="frm_tbl">
        <table>
            <tbody>
                <tr>
                    <td colspan="2">
                        RECIPIENT’S/LENDER'S name, street address, city or town, state or province,
                        country, ZIP or foreign postal code, and telephone number
                        <div>JAMES BOND<br />23850 FANTOM SQUARE<br />GREENSBORROW NC<br />28502</div>
                    </td>
                    <td style="border-right: 0;">
                        <input type="text">
                    </td>
                    <td colspan="2" class="dt_table" style="vertical-align: bottom;">
                        <table style="border-bottom: 1px solid #bbb;">
                            <tbody>
                                <tr>
                                    <td>
                                        OMB No. 1545-0901
                                    </td>
                                    <td rowspan="3" align="right" style="font-size: 14px; padding: 0; font-weight: bold; text-align: right; padding: 12px 0;">
                                        <span>
                                            Mortgage
                                            Interest
                                            Statement
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 40px; padding: 5px 8px; font-weight: bold;">
                                        2015
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Form 1098
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        RECIPIENT’S federal identification no.<div>123-45-6789</div>
                    </td>
                    <td>PAYER'S social security number<div>54-9852341</div></td>
                    <td colspan="2" style="border-right:0;"><b>1</b> Mortgage interest received from payer(s)/borrower(s)<div>$ 8,500</div></td>
                    <td rowspan="5" align="right" style="border-left: 1px solid #bbb;border-bottom: 0;width:120px">
                        <span class="hd">
                            Copy C
                        </span>
                        <p>
                            <b>
                                For
                                Recipient/Lender
                            </b>
                            For Privacy Act
                            and Paperwork
                            Reduction Act
                            Notice, see the
                            <b>
                                2015 General
                                Instructions for
                                Certain
                                Information
                                Returns.
                            </b>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" rowspan="3">
                        PAYER'S/BORROWER'S name
                        <div>WELLS FARGO</div>
                        Street address (including apt. no.)
                        <div>23801 SOUTH BLVD</div>
                        City or town, state or province, country, and ZIP or foreign postal code
                        <div>GREENSBORROW NC 28503</div>
                    </td>
                    <td colspan="2"><b>2</b>Points paid on purchase of principal residence<div>$ </div></td>
                </tr>
                <tr>
                    <td colspan="2"><b>3</b> Refund of overpaid interest<div>$ </div></td>
                </tr>

                <tr>
                    <td colspan="2"><b>4</b> <div></div></td>
                </tr>
                <tr>
                    <td colspan="2">
                        Account number (see instructions)
                        <div></div>
                    </td>
                    <td colspan="2"><b>5</b> <div></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</html>






