<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <div class="frm_tbl">
        <table>
            <tbody>
                <tr>
                    <td rowspan="3" colspan="2" style="width: 200px !important;min-width:300PX;">
                        PAYER’S name, street address, city or town, state or province,
                        country, and ZIP or foreign postal code
                        <div>BOA<br>25058 5th AVE<br>GREENSBORROW NC 28520</div>
                    </td>
                    <td style="border-right: 0;">
                        <b>1</b> Gross distribution<div>$ 25,000</div>
                    </td>
                    <td colspan="2" rowspan="2" class="dt_table" style=" width: 180px;">
                        <table style="border-bottom: 1px solid #bbb;">
                            <tbody>
                                <tr>
                                    <td>
                                        OMB No. 1545-0119
                                    </td>
                                    <td rowspan="3" align="right" style="font-size: 17px; padding: 0; font-weight: bold;">
                                        <span style="font-size:13px;">
                                            Distributions From
                                            Pensions, Annuities,
                                            Retirement or
                                            Profit-Sharing
                                            Plans, IRAs,
                                            Insurance
                                            Contracts, etc.
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 40px; padding: 5px 8px; font-weight: bold;">
                                        2015
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Form <b>1099-R</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>2a</b>  Taxable amount<div>$ 1,500</div>
                    </td>
                </tr>

                <tr>
                    <td style="border-right:0;">
                        <b>2b</b>  Taxable amount
                        not determined <input type="checkbox" />
                    </td>
                    <td style="border-right:0;">
                        Total
                        distribution <input type="checkbox" />
                    </td>
                    <td rowspan="2" align="right" style="border-left: 1px solid #bbb; border-bottom: 0; border-bottom: 1px solid #bbb;">
                        <span class="hd">
                            Copy 1
                            For
                            State, City,
                            or Local
                            Tax Department
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        PAYER’S federal identification
                        number<div>49-1234567</div>
                    </td>
                    <td>
                        RECIPIENT’S identification
                        number<div>123-45-6789</div>
                    </td>
                    <td>
                        <b>3</b>Capital gain (included
                        in box 2a)<div>$ </div>
                    </td>
                    <td>
                        <b>4</b>  Federal income tax
                        withheld<div> $ 3,800 </div>
                    </td>

                </tr>

                <tr>
                    <td colspan="2" rowspan="3">
                        RECIPIENT’S name

                        <div>James Bond</div>Street address(including apt.no.)<div> 23850 FANTOM SQUARE</div>
                        City or Town,State or Province,Country,and ZIP or foreign postal code<div>GREEN BORROW NC 28502</div>

                    </td>
                    <td>
                        <b>5</b> Employee contributions
                        /Designated Roth
                        contributions or
                        insurance premiums<div> $ </div>
                    </td>
                    <td style="border-right:0;">
                        <b>6</b> Net unrealized
                        appreciation in
                        employer’s securities<div> $ </div>
                    </td>
                    <td rowspan="3" style=" border-left: 1px solid #bbb;"></td>
                </tr>
                <tr>
                    <td>
                        <b>7</b>Distribution
                        code(s)<div>$ </div>
                        <span class="">
                            IRA/
                            SEP/
                            SIMPLE <input type="checkbox" />
                        </span>
                    </td>
                    <td>
                        <b>8</b> Other<div> $ </div>

                    </td>
                </tr>
                <tr>
                    <td>
                        <b>9a</b> Your percentage of total
                        distribution<div>% </div>
                    </td>
                    <td>
                        <b>9b</b> Total employee contributions<div> $ </div>
                    </td>
                </tr>
               
                <tr>
                    <td>
                       <b>10</b> Amount allocable to IRR
                        within 5 years
                        <div>$</div>
                    </td>
                    <td>
                        <b>11</b>1st year of desig. Roth contrib
                        <div></div>
                    </td>
                    <td class="inr_tbl" colspan="3">
                        <table>
                            <tbody>
                                <tr>
                                     <td><b>12</b> State tax withheld<div>$ TX</div></td>
                                    <td><b>13</b> State/Payer’s state no<div></div></td>
                                    <td><b>14</b> State distribution<div>$</div></td>
                                </tr>
                                <tr>
                                    <td>$</td>
                                    <td></td>
                                    <td>$</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Account number (see instructions)
                        <div></div>
                    </td>
                    <td class="inr_tbl" colspan="3">
                        <table>
                            <tbody>
                                <tr>
                                    <td><b>15</b>  Local tax withheld<div>$ </div></td>
                                    <td><b>16</b> Name of locality<div></div></td>
                                    <td><b>17</b> Local distribution<div>$</div></td>
                                </tr>
                                <tr>
                                    <td>$</td>
                                    <td></td>
                                    <td>$</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</html>






