<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <div class="frm_tbl">
        <table>
            <tbody>
                <tr>
                    <td rowspan="3" colspan="2" style="width: 200px !important; min-width: 360px;">
                        PAYER’S name, street address, city or town, state or province, country, ZIP or foreign postal code, and telephone no.
                        <div>IRC<br>1321 LAWRENCE ROAD<br>UNION NC 28503</div>
                    </td>
                    <td style="border-right: 0; width: 200px;">
                        <b>1</b> Rents<div>$ </div>
                    </td>
                    <td colspan="2" rowspan="2" class="dt_table" style=" width: 180px;">
                        <table style="border-bottom: 1px solid #bbb;">
                            <tbody>
                                <tr>
                                    <td>
                                        OMB No. 1545-0115
                                    </td>
                                    <td rowspan="3" align="right" style="font-size: 17px; padding: 0; font-weight: bold;">
                                        <span style="font-size:13px;">
                                            Miscellaneous
                                            Income
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 40px; padding: 5px 8px; font-weight: bold;">
                                        2015
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Form <b>1099-MISC</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>2</b>  Royalties<div>$ </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>3</b> Other income <div>$</div>
                    </td>
                    <td style="border-right:0;">
                        <b>4</b> Federal income tax withheld<div>$</div>
                    </td>
                    <td rowspan="2" align="right" style="border-left: 1px solid #bbb; border-bottom: 0; border-bottom: 1px solid #bbb;">
                        <span class="hd">
                            Copy 1
                            For State Tax
                            Department
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        PAYER’S federal identification number<div>19-4603189</div>
                    </td>
                    <td>
                        RECIPIENT’S identification number<div>123-45-6789</div>
                    </td>
                    <td>
                        <b>5</b>Fishing boat proceeds<div>$ </div>
                    </td>
                    <td>
                        <b>6</b> Medical and health care payments<div> $ 3,800 </div>
                    </td>

                </tr>

                <tr>
                    <td colspan="2" rowspan="3">
                        RECIPIENT’S name

                        <div>James Bond</div>Street address(including apt.no.)<div> 23850 FANTOM SQUARE</div>
                        City or Town,State or Province,Country,and ZIP or foreign postal code<div>GREEN BORROW NC 28502</div>

                    </td>
                    <td>
                        <b>7</b> Nonemployee compensation<div> $ 25,000</div>
                    </td>
                    <td style="border-right:0;">
                        <b>8</b>  Substitute payments in lieu of dividends or interest<div> $ </div>
                    </td>
                    <td rowspan="4" style=" border-left: 1px solid #bbb;"></td>
                </tr>
                <tr>
                    <td>
                        <b>9</b>Payer made direct sales of
                        $5,000 or more of consumer
                        products to a buyer
                        (recipient) for resale
                        <input type="checkbox" style="height:auto;" />
                    </td>
                    <td>
                        <b>10</b> Crop insurance proceeds<div> $ </div>

                    </td>
                </tr>
                <tr>
                    <td>
                        <b>11</b> <div> </div>
                    </td>
                    <td>
                        <b>12</b> <div> </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Account number (see instructions) <div> </div>
                    </td>
                    <td>
                        FATCA filing
                        requirement<input type="checkbox" style="height:auto;" />
                    </td>
                    <td>
                        <b>13</b> Excess golden parachute
                        payments <div> </div>
                    </td>
                    <td>
                        <b>14</b>Gross proceeds paid to an
                        attorney <div> </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>15a</b> Section 409A deferrals
                        <div>$</div>
                    </td>
                    <td>
                        <b>15b</b> Section 409A income
                        <div></div>
                    </td>
                    <td class="inr_tbl" colspan="3">
                        <table>
                            <tbody>
                                <tr>
                                    <td><b>16</b>  State tax withheld<div>$ </div></td>
                                    <td><b>17</b> State/Payer’s state no.<div></div></td>
                                    <td><b>18</b>  State income<div>$</div></td>
                                </tr>
                                <tr>
                                    <td>$</td>
                                    <td></td>
                                    <td>$</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</html>






