<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <div class="frm_tbl">
        <div style="text-align: center; padding: 10px; font-size: 20px;"><b>FORM SSA-1042S – SOCIAL SECURITY BENEFIT STATEMENT</b></div>
        <table>
            <tbody>
                <tr>
                    <td colspan="3" class="ds_ib">
                        <span>2051</span><span>
                            <ul>
                                <li>THIS FORM IS FOR USE IN FILING A UNITED STATES FEDERAL INCOME TAX RETURN</li>
                                <li>DO NOT RETURN IT TO SOCIAL SECURITY. • READ THE INFORMATION ON THE REVERSE.</li>
                            </ul>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Box 1. Name<div>JAMES BOND</div></td>
                    <td>Box 2. Beneficiary’s Social Security Number<div>123-45-6789</div></td>
                </tr>
                <tr>
                    <td>Box 3. Benefits Paid in 2015<div>14,242.80 </div></td>
                    <td>Box 4. Benefits Repaid to SSA in 2015<div></div></td>
                    <td>Box 5. Net Benefits for 2015(Box 3 minus Box 4)<div>14,242.80</div></td>
                </tr>
                <tr>
                    <td colspan="3" class="br_bm">
                        <table>
                            <tbody>
                                <tr>
                                    <td rowspan="2" style="border-right: 0;">
                                        3XOBNITNUOMAFONOITPIRCSED
                                        <div class="max_h"></div>
                                    </td>
                                    <td style="border-left: 1px solid #bbb;">
                                        4XOBNITNUOMAFONOITPIRCSED
                                        <div class="max_h">NONE</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="3" style="border-left: 1px solid #bbb;">
                                        Box 10. Address
                                        <div>
                                            JAMES BOND<br>
                                            23850 FANTOM SQUARE<br>
                                            GREENSBORROW NC 28504
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div></div>
                                    </td>
                                </tr>

                                <tr>
                                    <td><div></div></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div></div>
                                    </td>
                                    <td rowspan="2">
                                        <div></div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="border-right:1px solid #bbb;"><div></div></td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>






