<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <div class="frm_tbl">
        <table>
            <tbody>
                <tr>
                    <td rowspan="2" colspan="2" style="width: 200px !important;">
                        PAYER’S name, street address, city or town, state or province, country, ZIP
                        or foreign postal code, and telephone no.
                        <div>BOA<br>25058 5th AVE<br>GREENSBORROW NC 28520</div>
                    </td>
                    <td style="border-right: 0;">
                        Payer's RTN (optional)<div>$ </div>
                    </td>
                    <td colspan="2" rowspan="2" class="dt_table">
                        <table style="border-bottom: 1px solid #bbb;">
                            <tbody>
                                <tr>
                                    <td>
                                        OMB No. 1545-0112
                                    </td>
                                    <td rowspan="3" align="right" style="font-size: 17px; padding: 0; font-weight: bold;">
                                        <span>
                                            Interest
                                            Income
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 40px; padding: 5px 8px; font-weight: bold;">
                                        2015
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Form <b>1099-INT</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>1</b>  Interest income<div>$ 1,500</div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        PAYER’S federal identification number<div>54-9865423</div>
                    </td>
                    <td rowspan="2">RECIPIENT’S identification number<div>123-45-6789</div></td>
                    <td colspan="2" style="border-right:0;"><b>2</b>  Early withdrawal penalty<div><br>2014<br></div></td>
                    <td rowspan="7" align="right" style="border-left: 1px solid #bbb; border-bottom: 0; border-bottom: 1px solid #bbb;">
                        <span class="hd">
                            Copy 1<br>
                            For State Tax
                            Department
                        </span>
                    </td>
                </tr>

                <tr>
                    <td colspan="2"><b>3</b>  Interest on U.S. Savings Bonds and Treas. obligations<div> $  </div></td>

                </tr>

                <tr>
                    <td colspan="2" rowspan="4">
                        RECIPIENT’S name

                        <div><br>James Bond<br><br>Street address(including apt.no.)<br> 23850 FANTOM SQUARE<br>City or Town,State or Province,Country,and ZIP or foreign postal code<br><br>GREEN BORROW NC 28502<br></div>

                    </td>
                    <td><b>4</b> Federal income tax withheld<div> $ </div> </td>
                    <td><b>5</b>  Investment expenses<div> $ </div></td>
                </tr>
                <tr>
                    <td><b>6</b> Foreign tax paid<div></div></td>
                    <td>
                        <b>7</b> Foreign country or U.S. possession<div> </div>
                    </td>
                </tr>
                <tr>
                    <td><b>8</b> Tax-exempt interest<div>$ </div></td>
                    <td>
                        <b>9</b> Specified private activity bond
                        interest<div> $</div>
                    </td>
                </tr>
                <tr>
                    <td><b>10</b>   Market discount<div>$ </div></td>
                    <td>
                        <b>11</b>Bond premium<div> $ </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style=" text-align: right; padding: 0; vertical-align: middle;">
                       <div style=" width: 100px; float: right; border-left: 1px solid #bbb; font-size: 14px;"> FATCA filing
                        requirement
                        <input type="checkbox"/></div>
                    </td>
                    <td><b>12</b> <div></div></td>
                    <td>
                        <b>13</b>Bond premium on tax-exempt bond    <div> $ </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Account number (see instructions)
                        <div></div>
                    </td>
                    <td class="inr_tbl" colspan="3">
                        <table>
                            <tbody>
                                <tr>
                                    <td rowspan="2" style="border-bottom:0;"> Account number (see instructions)<div></div></td>
                                    <td rowspan="2" style="border-bottom:0;"><b>14</b> Tax-exempt and tax creditbond CUSIP no.<div></div></td>
                                    <td><b>15</b> State<div></div></td>
                                    <td><b>16</b>  State identification no<div></div></td>
                                    <td><b>17</b> State tax withheld<div>$</div></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>$</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</html>






