<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <div class="frm_tbl">
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="images/tax_q_img1.png" />
                    </td>
                </tr>
                <tr>
                    <td class="mtr_tbl">
                        <table>
                            <tr>
                                <th><a href="#">Qualifying Child Information</a></th>
                                <th>Child 1 </th>
                                <th>Child 2 </th>
                                <th>Child 3</th>
                            </tr>
                            <tr>
                                <td>
                                    <b>1. Child’s name</b>
                                    <p>
                                        If you have more than three qualifying
                                        children, you have to list only three to get
                                        the maximum credit
                                    </p>
                                </td>
                                <td>
                                    <span class="txt">
                                        <label>First name</label>
                                        <input type="text" />
                                    </span>
                                    <span class="txt">
                                        <label>First name</label>
                                        <input type="text" />
                                    </span>
                                </td>
                                <td>
                                    <span class="txt">
                                        <label>First name</label>
                                        <input type="text" />
                                    </span>
                                    <span class="txt">
                                        <label>First name</label>
                                        <input type="text" />
                                    </span>
                                </td>
                                <td>
                                    <span class="txt">
                                        <label>First name</label>
                                        <input type="text" />
                                    </span>
                                    <span class="txt">
                                        <label>First name</label>
                                        <input type="text" />
                                    </span>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <b>2. Child’s SSN </b>
                                    <p>
                                        The child must have an SSN as defined in
                                        the instructions for Form 1040A, lines 42a
                                        and 42b, or Form 1040, lines 66a and 66b,
                                        unless the child was born and died in
                                        2015. If your child was born and died in
                                        2015 and did not have an SSN, enter
                                        “Died” on this line and attach a copy of
                                        the child’s birth certificate, death
                                        certificate, or hospital medical records.
                                    </p>
                                </td>
                                <td>
                                    <input type="text" />
                                </td>
                                <td>
                                    <input type="text" />
                                </td>
                                <td>
                                    <input type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>3. Child’s year of birth</b>
                                </td>
                                <td>
                                    <div><span>year</span><input type="text" /><input type="text" /><input type="text" /><input type="text" /></div>
                                    <p>
                                        If born after 1996 and the child is
                                        younger than you (or your spouse, if
                                        filing jointly), skip lines 4a and 4b;
                                        go to line 5.
                                    </p>
                                </td>
                                <td>
                                    <div><span>year</span><input type="text" /><input type="text" /><input type="text" /><input type="text" /></div>
                                    <p>
                                        If born after 1996 and the child is
                                        younger than you (or your spouse, if
                                        filing jointly), skip lines 4a and 4b;
                                        go to line 5.
                                    </p>
                                </td>
                                <td>
                                    <div><span>year</span><input type="text" /><input type="text" /><input type="text" /><input type="text" /></div>
                                    <p>
                                        If born after 1996 and the child is
                                        younger than you (or your spouse, if
                                        filing jointly), skip lines 4a and 4b;
                                        go to line 5
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>4a</b> Was the child under age 24 at the end of
                                    2015, a student, and younger than you (or
                                    your spouse, if filing jointly)?
                                </td>
                                <td>
                                    <span class="chk">
                                        <input type="checkbox" /> Yes.
                                        <div>Go to line 5</div>
                                    </span>
                                    <span class="chk">
                                        <input type="checkbox" /> No.
                                        <div>Go to line 4b.</div>
                                    </span>
                                </td>
                                <td>
                                    <span class="chk">
                                        <input type="checkbox" /> Yes.
                                        <div>Go to line 5</div>
                                    </span>
                                    <span class="chk">
                                        <input type="checkbox" /> No.
                                        <div>Go to line 4b.</div>
                                    </span>
                                </td>
                                <td>
                                    <span class="chk">
                                        <input type="checkbox" /> Yes.
                                        <div>Go to line 5</div>
                                    </span>
                                    <span class="chk">
                                        <input type="checkbox" /> No.
                                        <div>Go to line 4b.</div>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <b>a</b>Was the child permanently and totally
                                    disabled during any part of 2015?
                                </td>
                                <td>
                                    <span class="chk">
                                        <input type="checkbox" /> Yes.
                                        <div>Go to line 5</div>
                                    </span>
                                    <span class="chk">
                                        <input type="checkbox" /> No.
                                        <p>
                                            The child is not a
                                            qualifying child.
                                        </p>
                                    </span>
                                </td>
                                <td>
                                    <span class="chk">
                                        <input type="checkbox" /> Yes.
                                        <div>Go to line 5</div>
                                    </span>
                                    <span class="chk">
                                        <input type="checkbox" /> No.
                                        <p>
                                            The child is not a
                                            qualifying child.
                                        </p>
                                    </span>
                                </td>
                                <td>
                                    <span class="chk">
                                        <input type="checkbox" /> Yes.
                                        <div>Go to line 5</div>
                                    </span>
                                    <span class="chk">
                                        <input type="checkbox" /> No.
                                        <p>
                                            The child is not a
                                            qualifying child.
                                        </p>
                                    </span>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <b>5. Child’s relationship to you </b>
                                    <p>
                                        (for example, son, daughter, grandchild,
                                        niece, nephew, foster child, etc.)
                                    </p>
                                </td>
                                <td>
                                    <input type="text" />
                                </td>
                                <td>
                                    <input type="text" />
                                </td>
                                <td>
                                    <input type="text" />
                                </td>
                            </tr>



                            <tr>
                                <td>
                                    <b>
                                        6. Number of months child lived
                                        with you in the United States
                                        during 2015
                                    </b>
                                    <ul>
                                        <li>
                                            If the child lived with you for more than
                                            half of 2015 but less than 7 months,
                                            enter "7."
                                        </li>
                                        <li>
                                            If the child was born or died in 2015 and
                                            your home was the child’s home for more
                                            than half the time he or she was alive
                                            during 2015, enter "12."
                                        </li>
                                    </ul>
                                </td>
                                <td style="vertical-align:bottom;">
                                    <span class="mnt">
                                        <input type="text" /> Months</span>
                                            <p>
                                                Do not enter more than 12
                                                months.
                                            </p>
                                </td>

                                <td style="vertical-align:bottom;">
                                    <span class="mnt">
                                        <input type="text" /> Months
                                    </span>
                                    <p>
                                        Do not enter more than 12
                                        months.
                                    </p>
                                </td>

                                <td style="vertical-align:bottom;">
                                    <span class="mnt">
                                        <input type="text" /> Months
                                    </span>
                                    <p>
                                        Do not enter more than 12
                                        months.
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="images/tax_q_img2.png" />
                        <img src="images/tax_q_img3.png" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>






