<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <div class="frm_tbl qsn">
        <table>
            <tbody>
                <tr>
                    <td colspan="8">
                        <img src="images/scheduleA.png">
                    </td>
                </tr>
                <tr class="fs">
                    <td colspan="5">
                        Name(s) shown on Form 1040
                        <input type="text">
                    </td>
                    <td colspan="3">
                        Your social security number
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td rowspan="5" style="border-bottom: 1px solid #bbb; width: 100px;">
                        <span class="h">
                            Medical
                            and
                            Dental
                            Expenses
                        </span>
                    </td>
                    <td>
                        <b>Caution:</b> Do not include expenses reimbursed or paid by others.
                    </td>
                    <td class="sw_b"></td>
                    <td></td>
                    <td class="sw_i"></td>
                    <td class="sw_b" style="border-right: 0;"></td>
                    <td rowspan="4" style="border-left: 1px solid #bbb; width: 120px;"></td>
                    <td rowspan="4"></td>

                </tr>
                <tr>
                    <td>
                        <b>1</b> Medical and dental expenses (see instructions) . . . . .
                    </td>
                    <td class="sw_w">1</td>
                    <td style="width:100px;"><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td>
                        <b>2</b> Enter amount from Form 1040, line 38
                        <div class="ans"><span>2</span><input type="text"><span><input type="text" /></span></div>
                    </td>
                    <td class="sw_b"></td>
                    <td></td>
                    <td></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td>
                        <b>3</b> Multiply line 2 by 10% (.10). But if either you or your spouse was
                        born before January 2, 1951, multiply line 2 by 7.5% (.075) instead
                    </td>
                    <td class="sw_w">3</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td colspan="4" class="br_b">
                        <b>4</b> Subtract line 3 from line 1. If line 3 is more than line 1, enter -0- . . . . . . . .
                    </td>
                    <td class="sw_w">4</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                </tr>




                <tr>
                    <td rowspan="5" style="border-bottom:1px solid #bbb;">
                        <span class="h">
                            Taxes You
                            Paid
                        </span>
                    </td>
                    <td>
                        <b>5</b> State and local <b>(check only one box):</b>
                        <div class="opt">
                            <p><b>a</b> <input type="checkbox" /> Income taxes, <b>or</b></p>
                            <p><b>b</b> <input type="checkbox" /> General sales taxes </p>
                        </div>
                    </td>
                    <td class="sw_w">5</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b" style="border-right: 0;"></td>
                    <td rowspan="4" style="border-left: 1px solid #bbb;"></td>
                    <td rowspan="4"></td>

                </tr>
                <tr>
                    <td>
                        <b>6</b> Real estate taxes (see instructions) . . . . . . . . .
                    </td>
                    <td class="sw_w">6</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td>
                        <b>7</b> Personal property taxes . . . . . . . . . . . . .
                    </td>
                    <td class="sw_w">7</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td>
                        <b>8</b> Other taxes. List type and amount<span class="af_i"><input type="text" /></span>
                        <input type="text" />
                    </td>
                    <td class="sw_w">8</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td colspan="4" class="br_b">
                        <b>9</b> Add lines 5 through 8 . . . . . . . . . . . . . . . . . . . . . .
                    </td>
                    <td class="sw_w">9</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                </tr>


                <tr>
                    <td rowspan="6" style="border-bottom:1px solid #bbb;">
                        <span class="h">
                            Interest
                            You Paid
                        </span>
                        <p>
                            <b>Note:</b> Your mortgage interest deduction may be limited (see instructions).
                        </p>
                    </td>
                    <td>
                        <b>10</b> Home mortgage interest and points reported to you on Form 1098

                    </td>
                    <td class="sw_w">10</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b" style="border-right: 0;"></td>
                    <td rowspan="5" style="border-left: 1px solid #bbb;"></td>
                    <td rowspan="5"></td>

                </tr>
                <tr>
                    <td>
                        <b>11</b> Home mortgage interest not reported to you on Form 1098. If paid to the person from whom you bought the home, see instructions and show that person’s name, identifying no., and address
                        <input type="text"><input type="text">
                    </td>
                    <td class="sw_w">11</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td>
                        <b>12</b> Points not reported to you on Form 1098. See instructions for special rules . . . . . . . . . . . . . . . . .
                    </td>
                    <td class="sw_w">12</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td>
                        <b>13</b> Mortgage insurance premiums (see instructions) . . . . .
                    </td>
                    <td class="sw_w">13</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td>
                        <b>14</b>  Investment interest. Attach Form 4952 if required. (See instructions.)
                    </td>
                    <td class="sw_w">14</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td colspan="4" class="br_b">
                        <b>15</b>  Add lines 10 through 14 . . . . . . . . . . . . . . . . . . . . .
                    </td>
                    <td class="sw_w">15</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                </tr>


                <tr>
                    <td rowspan="4" style="border-bottom:1px solid #bbb;">
                        <span class="h">
                            Gifts to
                            Charity
                        </span>
                        <p>
                            If you made a
                            gift and got a
                            benefit for it,
                            see instructions.
                        </p>
                    </td>
                    <td>
                        <b>16</b>Gifts by cash or check. If you made any gift of $250 or more,
                        see instructions . . . . . . . . . . . . . . . .
                    </td>
                    <td class="sw_w">16</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b" style="border-right: 0;"></td>
                    <td rowspan="3" style="border-left: 1px solid #bbb;"></td>
                    <td rowspan="3"></td>

                </tr>
                <tr>
                    <td>
                        <b>17</b> Other than by cash or check. If any gift of $250 or more, see
                        instructions. You must attach Form 8283 if over $500 . . .
                    </td>
                    <td class="sw_w">17</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td>
                        <b>18</b> Carryover from prior year . . . . . . . . . . . .
                    </td>
                    <td class="sw_w">18</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td colspan="4" class="br_b">
                        <b>19</b> Add lines 16 through 18 . . . . . . . . . . . . . . . . . . . . .
                    </td>
                    <td class="sw_w">19</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                </tr>


                <tr>
                    <td style="border-bottom:1px solid #bbb !important">
                        <span class="h">
                            Casualty and
                            Theft Losses
                        </span>
                    </td>
                    <td colspan="4" class="br_b">
                        <b>20</b> Casualty or theft loss(es). Attach Form 4684. (See instructions.) . . . . . . . .
                    </td>
                    <td class="sw_w">20</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                </tr>


                <tr>
                    <td rowspan="7" style="border-bottom:1px solid #bbb;">
                        <span class="h">
                            Job Expenses
                            and Certain
                            Miscellaneous
                            Deductions
                        </span>

                    </td>
                    <td>
                        <b>21</b> Unreimbursed employee expenses—job travel, union dues,
                        job education, etc. Attach Form 2106 or 2106-EZ if required.
                        (See instructions.)<span class="af_i"><input type="text"></span>

                    </td>
                    <td class="sw_w">21</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b" style="border-right: 0;"></td>
                    <td rowspan="6" style="border-left: 1px solid #bbb;"></td>
                    <td rowspan="6"></td>

                </tr>
                <tr>
                    <td>
                        <b>22</b> Tax preparation fees . . . . . . . . . . . . .
                    </td>
                    <td class="sw_w">22</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>

                <tr>
                    <td>
                        <b>23</b> Other expenses—investment, safe deposit box, etc. List type
                        and amount
                        <input type="text"><input type="text">
                    </td>
                    <td class="sw_w">23</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td>
                        <b>24</b> Add lines 21 through 23 . . . . . . . . . . . .
                    </td>
                    <td class="sw_w">24</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td>
                        <b>25</b>  Enter amount from Form 1040, line 38<div class="ans"><span>25</span><input type="text"><span><input type="text"></span></div>
                    </td>
                    <td class="sw_w">25</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td>
                        <b>26</b> Multiply line 25 by 2% (.02) . . . . . . . . . . .
                    </td>
                    <td class="sw_w">26</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                    <td class="sw_b"></td>
                </tr>
                <tr>
                    <td colspan="4" class="br_b">
                        <b>27</b>  Subtract line 26 from line 24. If line 26 is more than line 24, enter -0- . . . . . .
                    </td>
                    <td class="sw_w">27</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                </tr>

                <tr>
                    <td style="border-bottom:1px solid #bbb !important">
                        <span class="h">
                            Other
                            Miscellaneous
                            Deductions
                        </span>
                    </td>
                    <td colspan="4" class="br_b">
                        <b>28</b> Other—from list in instructions. List type and amount
                        <span class="af_i"><input type="text"></span>
                        <input type="text">
                    </td>
                    <td class="sw_w">28</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                </tr>

                <tr>
                    <td rowspan="2" style="border-bottom:1px solid #bbb !important">
                        <span class="h">
                            Total
                            Itemized
                            Deductions
                        </span>
                    </td>
                    <td colspan="4" class="br_b">
                        <b>29</b> Is Form 1040, line 38, over $154,950?
                        <div class="opt">
                            <p>
                                <input type="checkbox"> <b>No.</b>  Your deduction is not limited. Add the amounts in the far right column
                                for lines 4 through 28. Also, enter this amount on Form 1040, line 40.
                            </p>
                            <p>
                                <input type="checkbox"> <b>Yes.</b> Your deduction may be limited. See the Itemized Deductions
                                Worksheet in the instructions to figure the amount to enter.
                            </p>
                        </div>
                    </td>
                    <td class="sw_w">29</td>
                    <td><input type="text" /></td>
                    <td class="sw_i"><input type="text" /></td>
                </tr>
                <tr>
                    <td colspan="4" class="br_b">
                        <b>30</b>  If you elect to itemize deductions even though they are less than your standard
                        deduction, check here . . . . . . . . . . . . . . . . . . .<input type="checkbox" style=" display: inline-block; width: auto; float: right;"/>
                  
                    </td>
                    <td class="sw_w">30</td>
                    <td><input type="text"></td>
                    <td class="sw_i"><input type="text"></td>
                </tr>

            </tbody>
        </table>
    </div>
</body>
</html>






