<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <div class="frm_tbl qsn scB">
        <table>
            <tr>
                <td colspan="5">
                    <img src="images/scheduleB.png">
                </td>
            </tr>
            <tr class="fs">
                <td colspan="2">
                    Name(s) shown on Form 1040
                    <input type="text">
                </td>
                <td colspan="3">
                    Your social security number
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td rowspan="18" style="border-bottom: 1px solid #bbb; width: 100px;">
                    <span class="h">
                        Part I
                        Interest
                    </span>
                    <p>
                        (See instructions
                        on back and the
                        instructions for
                        Form 1040A, or
                        Form 1040,
                        line 8a.)
                    </p>
                    <p>
                        <b>Note:</b> If you
                        received a Form
                        1099-INT, Form
                        1099-OID, or
                        substitute
                        statement from
                        a brokerage firm,
                        list the firm’s
                        name as the
                        payer and enter
                        the total interest
                        shown on that
                        form.
                    </p>
                </td>
                <td>
                    <b>1</b>   List name of payer. If any interest is from a seller-financed mortgage and the
                    buyer used the property as a personal residence, see instructions on back and list
                    this interest first. Also, show that buyer’s social security number and address
                </td>
                <td rowspan="15" class="sw_w" style="width:25px;vertical-align:middle!important;">1</td>
                <td colspan="2" style="border-bottom:1px solid #bbb;text-align:center;"><b>Amount</b></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt" style=" width: 120px;"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>

            <tr>
                <td>
                    <b>2</b>  Add the amounts on line 1 . . . . . . . . . . . . . . . . . .
                </td>
                <td class="sw_w">2</td>
                <td><input type="text"></td>
                <td class="sw_i"><input type="text"></td>
            </tr>
            <tr>
                <td>
                    <b>3</b>  Excludable interest on series EE and I U.S. savings bonds issued after 1989.
                    Attach Form 8815 . . . . . . . . . . . . . . . . . . . . .
                </td>
                <td class="sw_w">3</td>
                <td><input type="text"></td>
                <td class="sw_i"><input type="text"></td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #bbb;">
                    <b>4</b>  Subtract line 3 from line 2. Enter the result here and on Form 1040A, or Form
                    1040, line 8a . . . . . . . . . . . . . . . . . . . . . .
                </td>
                <td class="sw_w">4</td>
                <td><input type="text"></td>
                <td class="sw_i"><input type="text"></td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #bbb;"></td>
                <td style="border-bottom: 1px solid #bbb;">
                    <b>Note:</b> If line 4 is over $1,500, you must complete Part III.
                </td>
                <td></td>
                <td colspan="2" style="border-bottom:1px solid #bbb;text-align:center;"><b>Amount</b></td>
            </tr>




            <tr>
                <td rowspan="18" style="border-bottom: 1px solid #bbb; width: 100px;">
                    <span class="h">
                        Part II<br />
                        Ordinary
                        Dividends
                    </span>
                    <p>
                        (See instructions
                        on back and the
                        instructions for
                        Form 1040A, or
                        Form 1040,
                        line 9a.)
                    </p>
                    <p>
                        <b>Note:</b>  If you
                        received a Form
                        1099-DIV or
                        substitute
                        statement from
                        a brokerage firm,
                        list the firm’s
                        name as the
                        payer and enter
                        the ordinary
                        dividends shown
                        on that form.
                    </p>
                </td>
                <td>
                    <b>5</b> List name of payer
                </td>
                <td rowspan="17" class="sw_w" style="width:25px;vertical-align:middle!important;">5</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt" style=" width: 120px;"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>
            <tr>
                <td class="bt">
                    <input type="text" />
                </td>
                <td class="brt"><input type="text"></td>
                <td class="sw_i brt"><input type="text"></td>
            </tr>

            <tr>
                <td style="border-bottom:1px solid #bbb">
                    <b>6</b>  Add the amounts on line 1 . . . . . . . . . . . . . . . . . .
                </td>
                <td class="sw_w">6</td>
                <td><input type="text"></td>
                <td class="sw_i"><input type="text"></td>
            </tr>

            <tr>
                <td style="border-bottom: 1px solid #bbb;"></td>
                <td style="border-bottom: 1px solid #bbb;" colspan="3">
                    <b>Note:</b> If line 4 is over $1,500, you must complete Part III.
                </td>
            </tr>
            <tr>
                <td colspan="5" class="schB" style="border-bottom:1px solid #bbb !important;">
                    <table>
                        <tr>
                            <td rowspan="5" style="border-bottom: 1px solid #bbb; width: 100px;">
                                <span class="h">
                                    Part II<br />
                                    Ordinary
                                    Dividends
                                </span>
                                <p>
                                    (See
                                    instructions on
                                    back.) 
                                </p>
                            </td>
                            <td>
                                You must complete this part if you (a) had over $1,500 of taxable interest or ordinary dividends; (b) had a
                                foreign account; or (c) received a distribution from, or were a grantor of, or a transferor to, a foreign trust.
                            </td>
                            <td style="width: 60px;text-align: center;">
                                <b>Yes</b>
                            </td>
                            <td style="width: 60px;text-align: center;">
                                <b>No</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>7a</b> At any time during 2015, did you have a financial interest in or signature authority over a financial
                                account (such as a bank account, securities account, or brokerage account) located in a foreign
                                country? See instructions . . . . . . . . . . . . . . . . . . . . . . . .
                            </td>
                            <td style="text-align: center;"><input type="checkbox" /></td>
                            <td style="text-align: center;"><input type="checkbox" /></td>
                        </tr>
                        <tr>
                            <td>
                                If “Yes,” are you required to file FinCEN Form 114, Report of Foreign Bank and Financial
                                Accounts (FBAR), to report that financial interest or signature authority? See FinCEN Form 114
                                and its instructions for filing requirements and exceptions to those requirements . . . . . .
                            </td>
                            <td style="text-align: center;"><input type="checkbox" /></td>
                            <td style="text-align: center;"><input type="checkbox" /></td>
                        </tr>
                        <tr>
                            <td>
                                <b>b</b>If you are required to file FinCEN Form 114, enter the name of the foreign country where the
                                financial account is located<span class="af_i"><input type="text"></span>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>
                                <b>8</b>8 During 2015, did you receive a distribution from, or were you the grantor of, or transferor to, a
                                foreign trust? If “Yes,” you may have to file Form 3520. See instructions on back . . . . . .
                            </td>
                            <td style="text-align: center;"><input type="checkbox" /></td>
                            <td><input type="checkbox" /></td>
                        </tr>
                    </table>
       
        </td>
        </tr>
            <tr>
                <td colspan="5" style="padding-top:10px;">
                    <img src="images/scheduleB2.png">
                    <img src="images/scheduleB3.png">
                </td>
            </tr>
        </table>
    </div>
</body>
</html>






