<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="styles.css" rel="stylesheet" />
</head>
<body>
    <div class="frm_tbl">
        <table>
            <tbody>
                <tr>
                    <td rowspan="2" colspan="2">
                        PAYER’S name, street address, city or town, state or province, country, ZIP
                        or foreign postal code, and telephone no.
                        <div>NETFLIX <br>25058 5th AVE<br> GREENSBORROW NC 28520</div>
                    </td>
                    <td style="border-right: 0;">
                        <b>1</b> Unemployment compensation<div>$ </div>
                    </td>
                    <td colspan="2" rowspan="2" class="dt_table">
                        <table style="border-bottom: 1px solid #bbb;">
                            <tbody>
                                <tr>
                                    <td>
                                        OMB No. 1545-0120
                                    </td>
                                    <td rowspan="3" align="right" style="font-size: 17px; padding: 0; font-weight: bold;">
                                        <span>
                                            Certain
                                            Government
                                            Payments
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 40px; padding: 5px 8px; font-weight: bold;">
                                        2015
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Form 1099-G
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>2</b>  State or local income tax
                        refunds, credits, or offsets<div>$ </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        PAYER’S federal identification number<div>150,000</div>
                    </td>
                    <td>RECIPIENT’S identification number<div>2,175</div></td>
                    <td><b>3</b> Box 2 amount is for tax year<div></div></td>
                    <td style="border-right: 0;">
                        <b>4</b> Federal income tax withheld<div></div>
                    </td>
                    <td rowspan="5" align="right" style="border-left: 1px solid #bbb;border-bottom: 0;">
                        <span class="hd">
                            Copy 1<br>
                            For State Tax
                            Department
                        </span>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" rowspan="3">
                        RECIPIENT’S name

                        <div>NETFLIX <br>25058 5th AVE<br> GREENSBORROW NC 28520</div>

                    </td>
                    <td><b>5</b> RTAA payments<div></div> </td>
                    <td><b>6</b>  Taxable grants<div>50,000</div></td>
                </tr>
                <tr>
                    <td><b>7</b>  Agriculture payments<div></div></td>
                    <td>
                        <b>8</b>  Check if box 2 is
                        trade or business
                        income<div><input type="checkbox"></div>
                    </td>
                </tr>

                <tr>
                    <td><b>9</b> Market gain <div></div> </td>
                    <td><div></div> </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Account number (see instructions)
                        <div></div>
                    </td>
                    <td class="inr_tbl" colspan="2">
                        <table>
                            <tbody>
                                <tr>
                                    <td><b>10a</b> State<div></div></td>
                                    <td><b>10b</b> State identification no.<div></div></td>
                                    <td><b>11</b> State income tax withheld<div></div></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</html>






