@model List<Core.CourseInsurance>
@{
    ViewBag.Title = "User Results";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section>
    <div class="pr_bg"></div>
    <div class="container_m">
        <div class="trp">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-trophy" aria-hidden="true"></i>
        </div>
    </div>
</section>
<section class="rslt_main">
    <div class="container_m">
        <div class="srch_m">
            <input type="text" placeholder="Search By Course Name"><input type="text" placeholder="Search By Date">
            <button class="btn green"><i class="fa fa-search"></i> Search</button>
        </div>
        <div class="rslt">
            @{
                foreach (var item in Model)
                {
                    <div class="crs_nm_rslt">@item.CourseName</div>                 
                    <div class="rslt_dt"><i class="fa fa-calendar"></i> @item.TestDate</div>
                    <div class="scr_rslt">
                        <i class="fa fa-trophy"><span>@item.Score</span></i>                        
                    </div>
                }
            }
          
        </div>
       

    </div>
</section>

